<config>
<model>
  <name>Leslie Model, Depth 12</name>
  <desc> This is a description. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 19.0 21.0 </lower>
    <upper> 20.0 22.0 </upper>
  </bounds>
  <subdiv>
    <depth> 6 </depth>
    <sizes> 64 64 </sizes>
  </subdiv>
</param>
<phase>
  <dim> 2 </dim>
  <bounds>
    <lower> -1.0 -1.0 </lower>
    <upper> 74.0 52.0 </upper>
  </bounds>
  <subdiv>
    <init> 0 </init>
    <min> 24 </min>
    <max> 30 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
